{% extends 'base.html' %}
{% block title %}UtubeDownloader{% endblock title %}
{% block css %} <style>
  .small {
    width: 100%;
    height: 400px;
  }

  input[type="submit"] {
    cursor: pointer;
  }

  @media only screen and (max-width: 630px) {
    .small {
      padding-top: 5px;
      min-width: fit-content;
      width: 90%;
      min-height: fit-content;
      height: auto;
    }
  }
</style>
{% endblock css %}
{% block body %}

<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Enter Youtube URL</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">UtubeDownloader helps you download any
        YouTube video in the best quality. Download YouTube videos in MP3, MP4, M4A, and many more formats. Our
        downloader is for free and does not require any software or registration.</p>
    </div>
    <div
      class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:px-0 items-end sm:space-x-4 sm:space-y-0 space-y-4">
      <div class="relative sm:mb-0 flex-grow w-full">
        <form action="/search/" method="POST">{% csrf_token %}
          <input type="text" id="youTubeUrl" name='ytUrl' placeholder="Enter youtube URL..."
            oninput="validateYouTubeUrl()"
            class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <input type="submit" value="Get Video" id="download-but"
        class="text-white bg-indigo-500 mx-auto border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
    </div>
    </form>
  </div>
</section>
<section class="text-gray-600 bg-gray-900 body-font" id="download">
  <div class="container px-5 py-5 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-lg h-64 small overflow-hidden">
        <iframe style="width: 100%; height: 100%;" id="videoObject" src="" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
{% endblock body %}

{% block js %}
<script>
  $("#download").hide()
  $("#download-but").hide()

  function validateYouTubeUrl() {
    var url = $('#youTubeUrl').val();
    if (url != undefined || url != '') {
      var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/;
      var match = url.match(regExp);
      if (match && match[2].length == 11) {
        $('#videoObject').attr('src', 'https://www.youtube.com/embed/' + match[2] + '?autoplay=0&enablejsapi=1');
        $("#download").show()
        $("#download-but").show()
      }
    }
  }
</script>
{% endblock js %}
